@charset "UTF-8";

* {
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-size: 12px;
  background-color: #FBF5F3, white;
}

p {
  color: black !important;
}

h2#about {
  font-family: 'Gudea', sans-serif;
  font-size: 24px;
  color: #547181 !important;
}

h3 {
  font-family: 'Gudea', sans-serif;
  font-size: 14px;
}

h3 a {
  font-family: 'Gudea', sans-serif;
  font-size: 16px;
  color: #FBF5F3 !important;
  align: center;
}

.panel {
  background-color: white;
  border-color: #ebebeb;
}

.panel-title #bs-override {
  background-color: #6E8898;
  background-image: linear-gradient(to bottom,#6E8898,#2E5266 100%);
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #E4E9EC, white;
  border-color: #2E5266;
}

.panel-default>.panel-heading {
  background-color: #6E8898;
  background-image: linear-gradient(to bottom,#6E8898,#2E5266 100%);
  background-repeat: none;
}

p#intro {
  font-size: 16px;
}

a#intro {
  font-size: 16px;
  color: #A5D1BF;
}

a#intro:hover {
  font-size: 16px;
  color: #77A391;
}

.panel a {
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #EBEFF1, white;
}

li {
  font-size: 16px;
  list-style-type: circle;
}
