@charset "UTF-8";

* {
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-size: 12px;
  background-color: #FBF5F3, white;
}

.navbar {
  background-color: #E4E9EC;
  background-image: linear-gradient(to bottom,#F7F9FA,#F6F8F9 100%);
  color: #FBF5F3, white;
  border-color: none;
}

nav.navbar.navbar-default {
  background-color: #FBF5F3;
  background-repeat: none;
}

nav.navbar.navbar-default a {
  color: #2E5266;
}

nav.navbar.navbar-default a:hover {
  color: #223C4B;
}

p {
  color: #2E5266;
}

.navbar-nav {
  float:none;
}

.navbar-nav li {
  display:inline-block;
  float:none;
  }

footer {
  background-color: #E4E9EC;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}

p #footer {
  font-size: inherit;
  text-align: center;
  align: center;
}
