@charset "UTF-8";

div.jumbotron#bso {
  background-color: #6E8898;
  color: #FFFFFF;
}

a {
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #A5D1BF;
}

a:hover {
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #88AC9D;
}

.btn {
  background-color: #6E8898;
  background-image: linear-gradient(to bottom,#6E8898,#2E5266 100%);
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #E4E9EC;
  border-color: #2E5266;
}

.btn:hover {
  background-color: #2E5266;
  background-image: none;
  color: #E4E9EC;
  border-color: #2E5266;
}

.button {
  color: #E4E9EC;
  background-color: #6E8898;
}

.btn {
  background-color: #6E8898;
  background-image: linear-gradient(to bottom,#6E8898,#2E5266 100%);
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #E4E9EC;
  border-color: #2E5266;
  text-decoration: none !important;
}

.btn:hover {
  background-color: #2E5266;
  background-image: none;
  color: #EBEFF1;
  border-color: #2E5266;
  text-decoration: none !important;
}

a#btn {
  color: #EBEFF1 !important;
  text-decoration: none !important;
}

body {
  padding-bottom: none;
}

button.btn.btn-primary.btn-xs.center-block>a {
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #EBEFF1;
}

button.btn.btn-primary.btn-xs.center-block>a:hover {
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #F5F7F8;
}

.btn {
  background-color: #6E8898;
  background-image: linear-gradient(to bottom,#6E8898,#2E5266 100%);
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #E4E9EC;
  border-color: #2E5266;
}

.btn:hover {
  background-color: #2E5266;
  background-image: none;
  color: #E4E9EC;
  border-color: #2E5266;
}

.button {
  color: #E4E9EC;
  background-color: #6E8898;
}

.btn>a {
  text-decoration: none;
}

.panel-title>a {
  color: #E4E9EC !important;
  font-size: 14px;
}

.panel-title>a:hover {
  color: #FBFCFC !important;
  font-size: 14px;
}

.panel-body>p {
  font-size: 14px;
}

.panel-body>h6 {
  color: #BBBFC2;
}

div.panel-heading>div.panel-title>a {
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #E4E9EC, white;
}

div.panel-default>.panel-heading {
  background-color: #6E8898;
  background-image: linear-gradient(to bottom,#6E8898,#2E5266 100%);
  background-repeat: none;
}

.panel {
  background-color: white;
  border-color: #ebebeb;
}

.panel a {
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #EBEFF1, white;
}

button.btn.btn-primary.btn-xs.center-block>a#btn {
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #EBEFF1, white !important;
  text-decoration: none;
}

button>a {
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #EBEFF1, white !important;
  text-decoration: none;
}
