@charset "UTF-8";

div.jumbotron#bso {
  background-color: #6E8898;
  color: #FFFFFF;
}

a {
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #A5D1BF;
}

a:hover {
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #88AC9D;
}

.btn {
  background-color: #6E8898;
  background-image: linear-gradient(to bottom,#6E8898,#2E5266 100%);
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #E4E9EC;
  border-color: #2E5266;
  text-decoration: none !important;
}

.btn:hover {
  background-color: #2E5266;
  background-image: none;
  color: #EBEFF1;
  border-color: #2E5266;
  text-decoration: none !important;
}

a#bso {
  color: #EBEFF1 !important;
  text-decoration: none !important;
}

body {
  padding-bottom: none;
}
